@model List<Appointment>
@{
}

<h2 class="text-center mb-5">Ihre nächsten Termine</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Appointment" asp-action="Create">Neuer Termin</a>
    </div>
    <div class="col">
        
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>E-Mail</th>
        <th>Firma</th>
        <th>Zeit</th>
        <th>Beschreibung/Grund</th>
    </tr>
    </thead>
    
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.Email</td>
                <td>@appointment.Company</td>
                <td>@appointment.Date</td>
                <td>@appointment.Description</td>
                <td style="white-space:nowrap">
                    <a class="btn btn-danger btn-sm" asp-controller="Appointment" asp-action="Delete" asp-route-id="@appointment.Id">Absagen</a>
                </td>
            </tr>
        }
    </tbody>
</table>